[package]
name = "rbw"
version = "1.7.1"
authors = ["Jesse Luehrs <doy@tozt.net>"]
edition = "2021"

description = "Unofficial Bitwarden CLI"
repository = "https://git.tozt.net/rbw"
readme = "README.md"
keywords = ["bitwarden"]
categories = ["command-line-utilities", "cryptography"]
license = "MIT"
include = ["src/**/*", "bin/**/*", "LICENSE", "README.md", "CHANGELOG.md"]

[dependencies]
aes = "0.8.2"
anyhow = "1.0.70"
argon2 = "0.5.0"
arrayvec = "0.7.2"
async-trait = "0.1.68"
base32 = "0.4.0"
base64 = "0.21.0"
block-padding = "0.3.2"
cbc = { version = "0.1.2", features = ["alloc", "std"] }
clap = { version = "4.1.13", features = ["wrap_help", "derive"] }
clap_complete = "4.1.5"
daemonize = "0.5.0"
directories = "5.0.0"
env_logger = "0.10.0"
futures-util = "0.3.27"
hkdf = "0.12.3"
hmac = { version = "0.12.1", features = ["std"] }
humantime = "2.1.0"
libc = "0.2.140"
log = "0.4.17"
nix = "0.26.2"
pbkdf2 = "0.12.1"
percent-encoding = "2.2.0"
pkcs8 = "0.9.0"
rand = "0.8.5"
region = "3.0.0"
reqwest = { version = "0.11.15", default-features = false, features = ["blocking", "json", "rustls-tls-native-roots"] }
rsa = "0.8.2"
serde = { version = "1.0.158", features = ["derive"] }
serde_json = "1.0.94"
serde_path_to_error = "0.1.11"
serde_repr = "0.1.12"
sha1 = "0.10.5"
sha2 = "0.10.6"
tempfile = "3.4.0"
terminal_size = "0.2.5"
textwrap = "0.16.0"
thiserror = "1.0.40"
tokio = { version = "1.26.0", features = ["full"] }
tokio-stream = { version = "0.1.12", features = ["net"] }
totp-lite = "2.0.0"
url = "2.3.1"
uuid = { version = "1.3.0", features = ["v4"] }
zeroize = "1.5.7"

[package.metadata.deb]
depends = "pinentry"
license-file = ["LICENSE"]
assets = [
    ["target/release/rbw", "usr/bin/", "755"],
    ["target/release/rbw-agent", "usr/bin/", "755"],
    ["target/release/completion/bash", "usr/share/bash-completion/completions/rbw", "644"],
    ["target/release/completion/zsh", "usr/share/zsh/vendor-completions/_rbw", "644"],
    ["target/release/completion/fish", "usr/share/fish/completions/rbw.fish", "644"],
    ["README.md", "usr/share/doc/rbw/README", "644"],
]
